body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	background-size: cover;
	background:linear-gradient(#4f0366, #9d4dad);
	min-height: 1000vh;
}


header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 2em;
	opacity: 0.8;
}

img {
	border: 5px solid #000;
	border-radius: 3px;
	float: center;
}

#hero {
    text-align: center;
    background-color: #eee;
    padding: 2em;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#features {
    margin-top: 40px;
	background-color:grey;
}

.feature {
    text-align: center;
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0em;
    position: fixed;
    bottom: 0;
    width: 100%;
}
